<div class="page-header">
	{{ main.username}}'s from profile page
</div>

<div class="panel panel-info">
    <div class="panel-heading text-center"><strong>User Profile</strong></div>
<table class="table">
    <tr>
        <td><strong>Username</strong></td>
        <td><strong>Email Address</strong></td>
        <td><strong>Password</strong></td>
    </tr>
    <tr>
        <td>{{ main.username}}</td>
        <td>{{ main.useremail}}</td>
        <td>*****************</td>
    </tr>
</table>

</div>